body {
  background: black;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#calc-display {
  padding: .5em;
  font-size: 5vw;
  background: #3b3b3b;
  text-align: right;
  margin-bottom: .5em;
  width: 33%;
}
.calc-buttons {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2vw;
  width: 32%;
}

.button {
  font-size: 5vw;
  padding: .5em;
  background: #3b3b3b;
  text-align: center;
}

.button-eq {
  font-size: 5vw;
  padding: .5em;
  background: #3b3b3b;
  text-align: center;
}

.button:hover {
  background: #00ff51;
}

.button-eq:hover {
  background: #e3a127;
}